.Logo-Gradient {
  position: relative;
  width: 256px;
  height: 256px;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 1;
}

.Logo-Gradient__Logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0.75;
}
